{% extends 'base.html' %}

{% block title %}Home - Job Tracker{% endblock %}

{% block content %}
<h2>Welcome to Your Job Tracker</h2>
<p>Keep track of your job applications in one place.</p>
{% if not user.is_authenticated %}
<section>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %} 
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn submit">Login</button>
    </form>
  </section>  
{% endif %}
{% endblock %}
